#user_shib_mapping > p > select {
	width: auto;
	max-width: 40%;
}

#user_shib_protected_groups_label, #user_shib_expiration_label {
	margin-left: 24px;
	margin-right: 5px;
	text-align: left;
	width: auto
}

#user_shib_mapping > p > label {
	text-align: left;
	width: 150px;
}

#user_shib_protected_groups {
	width: auto;
	min-width: 100px;
	max-width: 40%;
}

#user_shib_personal {
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 0px;
}

.indent {
	padding-left: 28px;
}

#passwordform {
	width: 100%
}

#pass2 {
	width: auto;
}

#reset_client_password.success {
	background-color: #d7fed7;
}

#user_shib_personal > span {
	margin: 10px;
	padding: 10px;
}

#user_shib_personal > h2 {
	margin-top: 22px;
	margin-left: 31px;
}

#user_shib_personal > span {
        margin-left: 31px;
}

#user_shib_personal > form {
	padding-top: 10px;
}

#reset_client_password {
	margin-left: 30px;
}
