#user_shib_personal {
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#pass2 {
	width: auto;
}

#reset_client_password.success {
	background-color: #d7fed7;
}

#user_shib_personal > span {
	margin: 10px;
	padding: 10px;
}

#user_shib_personal > h2 {
	margin-top: 22px;
	margin-left: 31px;
}

#user_shib_personal > span {
        margin-left: 31px;
}

#user_shib_personal > form {
	padding-top: 10px;
}

#reset_client_password {
	margin-left: 30px;
}
